aiohttp==3.7.4.post0
ansiwrap==0.8.4
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==21.1.0
async-timeout==3.0.1
attrs==21.2.0
Automat==0.8.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==4.1.0
blinker==1.4
cachetools==4.2.2
calitp==0.0.15
certifi==2022.12.7
cffi==1.14.5
cfgv==3.3.0
chardet==4.0.0
click==8.0.1
colorama==0.4.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.5
cryptography==3.3.2
cycler==0.11.0
debugpy==1.4.3
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
distlib==0.3.2
distro==1.8.0
entrypoints==0.3
fastjsonschema==2.16.2
filelock==3.0.12
fonttools==4.37.4
fsspec==2021.6.0
future==0.18.2
gcsfs==0.8.0
google-api-core==2.7.1
google-auth==1.31.0
google-auth-oauthlib==0.4.4
google-cloud-bigquery==2.34.3
google-cloud-bigquery-storage==2.7.0
google-cloud-core==2.2.3
google-crc32c==1.1.2
google-resumable-media==1.3.0
googleapis-common-protos==1.53.0
grpcio==1.44.0
grpcio-status==1.44.0
gtfs-realtime-bindings==0.0.7
httplib2==0.14.0
hyperlink==19.0.0
identify==2.2.10
idna==2.10
importlib-metadata==5.0.0
incremental==16.10.1
iniconfig==1.1.1
ipdb==0.13.4
ipykernel==6.4.1
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.4
jedi==0.18.0
jinja-markdown==1.210911
Jinja2==3.1.2
json5==0.9.10
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.2
jupyter-console==6.4.0
jupyter-core==4.11.2
jupyter-server==1.21.0
jupyterlab==3.4.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.16.0
jupyterlab-widgets==1.0.1
keyring==18.0.1
kiwisolver==1.4.4
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libcst==0.3.20
lxml==4.9.1
macaroonbakery==1.3.1
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.6.1
matplotlib-inline==0.1.2
mistune==0.8.4
mizani==0.8.1
multidict==5.1.0
mypy-extensions==0.4.3
nbclassic==0.4.6
nbclient==0.5.4
nbconvert==6.5.1
nbformat==5.4.0
nest-asyncio==1.5.1
netifaces==0.10.4
nodeenv==1.6.0
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.22.0
oauthlib==3.1.1
packaging==23.0
palettable==3.3.0
pandas==1.5.2
pandas-gbq==0.14.1
pandocfilters==1.4.3
papermill==2.3.4
parso==0.8.2
pathspec==0.9.0
patsy==0.5.3
pbr==5.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.3.0
plotnine==0.8.0
pluggy==0.13.1
postmarker==0.18.2
prometheus-client==0.11.0
prompt-toolkit==3.0.19
proto-plus==1.18.1
protobuf==3.17.3
ptyprocess==0.7.0
py==1.10.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pydata-google-auth==1.2.0
Pygments==2.9.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymdown-extensions==9.9.1
PyNaCl==1.5.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.0
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.11.0
regex==2021.8.28
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.7.2
scipy==1.9.2
SecretStorage==2.3.1
Send2Trash==1.8.0
service-identity==18.1.0
simplejson==3.16.0
siuba==0.0.25
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.24
sqlalchemy-bigquery==1.4.4
ssh-import-id==5.10
statsmodels==0.13.2
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
testresources==2.0.1
textwrap3==0.9.2
tinycss2==1.1.1
toml==0.10.2
tomli==1.2.1
tornado==6.1
tqdm==4.62.2
traitlets==5.3.0
Twisted==18.9.0
typing-extensions==3.10.0.0
typing-inspect==0.7.1
ujson==5.4.0
urllib3==1.26.5
virtualenv==20.4.7
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
widgetsnbextension==3.5.1
yarl==1.6.3
zipp==3.9.0
zope.interface==5.5.2
