@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    hr {
        @apply border-t-4 my-12;
    }
}

$text-color: #323A45;

body {
    color: $text-color;
}

h1, h2, h3, h4 {
    @apply font-serif;
}

.btn,
a.btn {
    @apply
        border
        border-gray-400
        font-semibold
        py-2 px-4
        rounded
        no-underline
        focus:outline-none
        focus:ring-4
        focus:ring-opacity-10
        hover:bg-gray-50;
}

.responsive-prose {
    @apply prose prose-sm sm:prose lg:prose-lg;

    a {
        color: inherit;
        font: inherit;
    }

    &.max-w-none {
        max-width: none;
    }
}
