{% macro anchor_link(target, iconCls, iconTitle, linkCls) %}
    <small class="ml-2">
        <a href="#{{ target }}" class="{{ linkCls }}">
            <i title="{{ iconTitle }}" class="text-itp-slate-bold {{ iconCls }}"></i>
        </a>
    </small>
{% endmacro %}

{% macro list_group_icon(icon = 'fas fa-arrow-circle-right') %}
    <span class="inline-block w-5 mr-1">
        <i class="fa-fw {{ icon }} text-itp-teal"></i>
    </span>
{% endmacro %}

{% macro breadcrumbs(links) %}
    <div class="breadcrumbs my-8">
        {% for link in links %}
            {% if not loop.first %}
                <div class="inline-block w-5 text-center">
                    <i class="far fa-angle-right text-muted"></i>
                </div>
            {% endif %}
            {% if link.url %}
                <a href="{{ link.url }}">{{ link.text }}</a>
            {% else %}
                {{ link.text }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_dialog(id, title, class="
    backdrop:backdrop-blur-sm
    bg-white border
    md:min-w-[24rem] max-w-3xl
    !my-8 p-8
    responsive-prose
    rounded-xl shadow-xl
    ") %}
    <dialog id="{{ id }}" class="{{ class }}">
        <header class="flex items-baseline justify-between">
            <h3 class="!mt-0">{{ title }}</h3>
            <form method="dialog" class="ml-4">
                <button class="btn" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </form>
        </header>

        {{ caller() }}
    </dialog>
{% endmacro %}
