{% macro anchor_link(target, iconCls, iconTitle) %}
    <small class="ml-2">
        <a href="#{{ target }}">
            <i title="{{ iconTitle }}" class="text-itp-slate-bold {{ iconCls }}"></i>
        </a>
    </small>
{% endmacro %}

{% macro list_group_icon(icon = 'fas fa-arrow-circle-right') %}
    <span class="inline-block w-5 mr-1">
        <i class="fa-fw {{icon}} text-itp-teal"></i>
    </span>
{% endmacro %}
