{% extends "layout/default.html.jinja" %}
{% import 'macros.html.jinja' as macros %}

{% macro mark_exists(entry, showCross = false) %}
    {% if entry %}
        <i title="present" class="fas fa-lg fa-check-circle text-itp-green"></i>&ZeroWidthSpace;
    {% elif showCross %}
        <i title="missing" class="fas fa-lg fa-ban text-itp-red/40"></i>&ZeroWidthSpace;
    {% else %}
        <i title="missing" class="far fa-lg fa-circle text-itp-slate-light"></i>&ZeroWidthSpace;
    {% endif %}
{% endmacro %}

{% macro display_figure(label, value) %}
    <figure>
        <div class="text-2xl text-itp-teal-bold">{{ value }}</div>
        <figcaption class="text-itp-slate-bold">
            {{ label }}
        </figcaption>
    </figure>
{% endmacro %}

{%- block title -%}
    Monthly GTFS Quality Reports: {{ feed_info.date_month_year }} - {{ feed_info.feed_publisher_name }}
{%- endblock -%}

{% block content %}
    <div class="responsive-prose max-w-none">
        {{ macros.breadcrumbs([
        { 'url': '/', 'text': 'Home' },
        { 'url': '/#directory', 'text': 'Directory' },
        { 'url': '../', 'text': feed_info.date_month_year },
        { 'text': feed_info.feed_publisher_name },
        ]) }}

        <h1>
            Monthly GTFS Quality Report
            <br>
            <small>
                {% if feed_info.feed_publisher_url %}
                    <a href="{{ feed_info.feed_publisher_url }}">{{ feed_info.feed_publisher_name }}</a>
                {% else %}
                    {{ feed_info.feed_publisher_name }}
                {% endif %}
                &hairsp;&middot;&hairsp;
                <span class="inline-block">{{ feed_info.date_month_year }}</span>
            </small>
        </h1>
        <p class="lead responsive-prose">
            This is a monthly report, generated by the California Integrated Travel Project
            (Cal-ITP), summarizing issues discovered by MobilityData’s GTFS Validator. This report
            is available for viewing by the general public to support continuous improvement of
            GTFS data and the experience of transit passengers.
        </p>
    </div>

    <hr>

    <div class="flex-1 responsive-prose gap-12 lg:gap-16">
        <h2>Current GTFS Feed Info</h2>
        <div class="flex flex-row lg:flex-row flex-wrap gap-12">
            {{ display_figure('Feed End Date', feed_info.feed_end_date_m_d_y) }}
            {{ display_figure('Days With No Service', feed_info.no_service_days_ct) }}
            {{ display_figure('Routes', feed_info.n_routes) }}
            {{ display_figure('Stops', feed_info.n_stops) }}
            {% if has_rt_feed %}
                {{ display_figure('Has RT Feed', mark_exists(true)) }}
            {% else %}
                {{ display_figure('No RT Feed', mark_exists(false, true)) }}
            {% endif %}
        </div>

        {% if has_rt_feed %}
            This feed includes GTFS-Realtime (GTFS-RT). Realtime data contributes to a better rider experience by letting riders know exactly when their bus or train is coming, as well as detour and trip cancellation info. It also enables Cal-ITP to support transit agencies with analyses such as our California Transit Speed Maps, viewable by clicking the button above. Certain feeds may include RT data but not have a speed map available. To generate a speed map, we require GTFS-RT Vehicle Positions data that matches the rest of the GTFS feed. Additionally, we don't currently generate speed maps for rail service. Please contact us at <a href="mailto:hello@calitp.org">hello@calitp.org</a> with any questions about GTFS-RT data or suggestions for analysis products.
        {% else %}
            This feed doesn't seem to include GTFS-Realtime (GTFS-RT). Realtime data contributes to a better rider experience by letting riders know exactly when their bus or train is coming, as well as detour and trip cancellation info. It also enables Cal-ITP to support transit agencies with useful analysis tools. Please contact us at <a href="mailto:hello@calitp.org">hello@calitp.org</a> for guidance on how to offer a GTFS-RT feed, or let us know if you're already publishing one that we aren't aware of.
        {% endif %}

        {% if not feed_info.has_feed_info %}
            <div class="flex flex-row lg:flex-row flex-wrap gap-24">
                <ul>
                    <li>
                        This feed appears to be missing&nbsp;<a href='https://gtfs.org/schedule/best-practices/#feed_infotxt'>feed_info.txt</a>.
                    </li>
                    <li>Including feed info is important to help data users easily find technical&nbsp;contacts.</li>
                    <li>Please reach out to our help desk at hello@calitp.org with any&nbsp;questions.</li>
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="responsive-prose max-w-none">
        <div class="my-8 flex gap-4">
            <button type="button"
                    class="btn"
                    onclick="document.getElementById('feed-info-modal').showModal()">
                Show Source URLs
            </button>

            {% if speedmap_url %}
                <a class="btn" href="{{ speedmap_url }}" target="_blank">
                    View Speedmap
                    <i class="fas fa-external-link-alt ml-1"></i>
                </a>
            {% endif %}
        </div>
    </div>

    {% call macros.render_dialog('feed-info-modal', 'Source URLs') %}
        <div class="prose-ul:m-0 prose-li:m-0 prose-li:p-0 prose-p:m-0">
            <ul>
                {%- for feed in feeds -%}
                    <li>
                        <a href="{{ feed.string_url | escape }}" rel="external" target="_blank">{{ feed.gtfs_dataset_name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="mt-4 flex items-baseline gap-3 max-w-sm">
                <i class="text-sm fa-solid fa-triangle-exclamation text-itp-yellow"></i>
                <p class="text-sm text-itp-slate-bold">
                    Note: Links may lead directly to downloads and/or to resources that require&nbsp;authentication
                </p>
            </div>
        </div>
    {% endcall %}

    <hr>

    {%- macro getJsonForAttribute(variable, attribute) %}
        {{ variable|map(attribute=attribute)|list|tojson }}
    {% endmacro -%}

    <div class="flex flex-col lg:flex-row gap-12 lg:gap-16 xl:gap-24 2xl:gap-36 mb-8">
        <div class="flex-1 responsive-prose">
            <h2>About the {{ feed_info.date_month }} Daily Service Level&nbsp;Charts</h2>
            <ul>
                <li>These charts show the total hours of transit service described by the active feed for each&nbsp;day.</li>
                <li>
                    Since service levels often vary by the day of the week, it is split into three charts for weekdays, Saturdays, and&nbsp;Sundays.
                </li>
                <li>Flat lines indicate consistent levels of service throughout the&nbsp;month.</li>
                <li>
                    Short drops may indicate temporary reduced service, such as for holidays, gaps in feed publishing, or potential&nbsp;inaccuracies.
                </li>
                <li>Please reach out to our help desk at hello@calitp.org with any&nbsp;questions.</li>
            </ul>
        </div>

        <div class="flex-1">
            <div class="responsive-prose">
                <h2>Service hours per weekday in the active&nbsp;feed</h2>
            </div>

            {% set weekday_hours = daily_service_hours|selectattr('weekday', '==', 'Weekday')|list %}
            <div class="hours-chart"
                 data-dates="{{ getJsonForAttribute(weekday_hours, 'service_date')|trim }}"
                 data-hours="{{ getJsonForAttribute(weekday_hours, 'ttl_service_hours')|trim }}"
                 data-color="#136C97">
            </div>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-12 lg:gap-16 xl:gap-24 2xl:gap-36">
        <div class="flex-1">
            <div class="responsive-prose">
                <h2>Service hours per Saturday in the active&nbsp;feed</h2>
            </div>

            {% set sat_hours = daily_service_hours|selectattr('weekday', '==', 'Saturday')|list %}
            <div class="hours-chart"
                 data-dates="{{ getJsonForAttribute(sat_hours, 'service_date')|trim }}"
                 data-hours="{{ getJsonForAttribute(sat_hours, 'ttl_service_hours')|trim }}"
                 data-color="#F6BF16">
            </div>
        </div>

        <div class="flex-1">
            <div class="responsive-prose">
                <h2>Service hours per Sunday in the active&nbsp;feed</h2>
            </div>

            {% set sun_hours = daily_service_hours|selectattr('weekday', '==', 'Sunday')|list %}
            <div class="hours-chart"
                 data-dates="{{ getJsonForAttribute(sun_hours, 'service_date')|trim }}"
                 data-hours="{{ getJsonForAttribute(sun_hours, 'ttl_service_hours')|trim }}"
                 data-color="#5B559C">
            </div>
        </div>
    </div>

    <hr>

    <div class="flex flex-col lg:flex-row gap-12 lg:gap-16 xl:gap-24 2xl:gap-36">
        <div class="flex-1 responsive-prose">
            <h2>About the {{ feed_info.date_month }} Identifier Change&nbsp;Charts</h2>
            <ul>
                <li>These charts show the percentage of stop and route IDs that have changed since the previous&nbsp;month.</li>
                <li>
                    Stop and route IDs are important identifiers for GTFS feed consumers to correctly parse&nbsp;feeds.
                </li>
                <li>
                    It is a <a href="https://gtfs.org/schedule/best-practices/#dataset-publishing-general-practices">GTFS Best Practice</a> to keep these consistent between feed versions whenever&nbsp;possible.
                </li>
                <li>
                    More than 5% being new or dropped is a cause for attention, especially if there hasn't been a major service or route&nbsp;change.
                </li>
                <li>
                    Please reach out to our help desk at hello@calitp.org with any&nbsp;questions.
                </li>
            </ul>
        </div>

        {%- macro getChangesByStatus(type, status) -%}
            {% set data = (routes_changed if type == 'routes' else stops_changed) %}
            {{ data|selectattr('status', '==', status)|map(attribute='percent')|first|default(0) }}
        {%- endmacro -%}
        <div class="flex-1">
            <div class="responsive-prose">
                <h2>
                    Changes from {{ feed_info.start_month_day }} to {{ feed_info.end_month_day }}
                </h2>
            </div>

            <div id="changes-chart"
                 data-routes-added="{{ getChangesByStatus('routes', 'Added')|trim }}"
                 data-routes-removed="{{ getChangesByStatus('routes', 'Removed')|trim }}"
                 data-routes-unchanged="{{ getChangesByStatus('routes', 'Unchanged')|trim }}"
                 data-stops-added="{{ getChangesByStatus('stops', 'Added')|trim }}"
                 data-stops-removed="{{ getChangesByStatus('stops', 'Removed')|trim }}"
                 data-stops-unchanged="{{ getChangesByStatus('stops', 'Unchanged')|trim }}">
            </div>
        </div>
    </div>

    <hr>

    <div class="responsive-prose max-w-none">
        <h2>
            Consistency with the California GTFS Minimum Guidelines
        </h2>

        <div class="overflow-x-auto -mx-8 px-8">
            <table>
                <!-- guideline checks -->
                <thead>
                    <tr>
                        <th colspan="2">
                            GTFS Guideline Compliance
                        </th>
                        <th class="whitespace-nowrap">
                            {{ guideline_check["columns"][2] }}
                        </th>
                        <th class="whitespace-nowrap">
                            {{ guideline_check["columns"][3] }}
                        </th>
                        <!-- What is this for? -->
                        {% if guideline_check["columns"][4] %}
                            <th class="whitespace-nowrap">
                                {{ guideline_check["columns"][4] }}
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in guideline_check["data"] %}
                        <tr>
                            <!-- I think this is the category, and can be removed for now -->
                            {% set rowspan = guideline_check["rowspan"][loop.index0] %}
                            {% if rowspan %}
                                <th class="font-normal text-itp-slate-bold" rowspan="{{ rowspan }}">
                                    {{ row[0] }}
                                </th>
                            {% endif %}
                            <!-- check name -->
                            <td>
                                {{ row[1] }}
                            </td>
                            <!-- these are the date columns -->
                            <td>
                                {{ mark_exists(row[2])}}
                            </td>
                            <td>
                                {{ mark_exists(row[3])}}
                            </td>
                            <!-- What is this for? -->
                            {% if row[4] %}
                                <td>
                                    {{ mark_exists(row[4])}}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>

                <!-- validation severity errors -->

                {% if validation_codes is not defined %}

                {% elif "data" in validation_codes %}

                    <thead class="border-t">
                        <tr>
                            <th class="pt-12" colspan="2">
                                Validation errors observed
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Error Name
                            </th>
                            <th>
                                Error Description
                            </th>
                            <th>
                                {{ validation_codes["columns"][2] | title }}
                            </th>
                            <th>
                                {{ validation_codes["columns"][3] }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in validation_codes["data"] %}
                            <tr>
                                {% for col in row %}
                                    <td>
                                        {{ col }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>

                {% else %}

                    <p>
                        <b>No validation severity data is available for this period.</b>
                    </p>

                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
