<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Monthly GTFS Quality Report {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&amp;family=Raleway:wght@800;900&amp;display=swap">
    <link rel="stylesheet" href="{{SITE_DOMAIN}}{{SITE_PATH}}/css/style.min.css">
    {% endblock %}
    {% block js_top %}
    <script src="https://kit.fontawesome.com/58160bfc03.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    {% block logo %}
    <div class="container pb-8">
        <a href="{{SITE_DOMAIN}}{{SITE_PATH}}">
            <img class="inline-block h-12 mt-6" src="{{SITE_DOMAIN}}{{SITE_PATH}}/images/calitp-logo.svg" alt="Cal-ITP">
        </a>
    </div>
    {% endblock %}

    {% block body %}
    <div class="container my-12 mb-24">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}

    <div class="bg-gray-800 pb-96">
        <!-- Footer or overscroll area -->
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q4W9YVZW3C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Q4W9YVZW3C');
    </script>
</body>
</html>
