<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Monthly GTFS Quality Report {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&amp;family=Raleway:wght@800;900&amp;display=swap">
    <link rel="stylesheet" href="{{SITE_DOMAIN}}{{SITE_PATH}}/css/style.min.css">
    {% endblock %}
    {% block js_top %}
    <script src="https://kit.fontawesome.com/58160bfc03.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="container my-16 mb-96">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</body>

</html>
