@import "animations";
@import "charts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    hr {
        @apply border-t-4 border-itp-yellow-light my-12;
    }
}

$text-color: #323a45;

html {
    scroll-behavior: smooth;
}

body {
    color: $text-color;
    overflow-y: scroll; // prevent layout jumping when page height changes
}

h1,
h2,
h3,
h4 {
    @apply font-serif;

    small {
        @apply text-itp-slate-bold;
    }
}

.btn,
a.btn {
    @apply border
        border-itp-slate
        font-semibold
        inline-block
        py-1 px-4
        rounded
        text-itp-teal-bold
        focus:outline-none
        focus:ring-4
        focus:ring-opacity-30
        focus:ring-itp-teal
        hover:border-itp-teal
        hover:bg-itp-teal-light;

    text-decoration: none !important;
}

input,
select {
    @apply border
        bg-white
        px-4 py-2
        rounded;
}

input {
    @apply shadow-inner;
}

select {
    @apply appearance-none
        pr-9
        shadow;

    /*! icon from bootstrap | https://github.com/twbs/bootstrap/blob/8f11c52919fb9b7142ebf9b5797f9cc1538194d2/scss/_variables.scss#L930 */
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1em 0.75em;
}

input[type="search"] {
    @apply rounded-full
        pl-12;

    /*! icon from font awesome | https://fontawesome.com/v5.15/icons/search?style=solid */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="hsl(220deg 13% 71%)" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>');
    background-position: 1.25em center;
    background-repeat: no-repeat;
    background-size: auto 1em;
}

.responsive-prose {
    @apply prose prose-sm sm:prose lg:prose-lg;

    &.max-w-none {
        max-width: none;
    }

    th[rowspan] + td {
        padding-left: 0;
    }
}

.text-muted {
    @apply text-itp-slate-bold
        text-opacity-60;
}

.list-group {
    @apply bg-white
        divide-solid divide-y
        overflow-hidden
        rounded-md;

    &__link {
        @apply block
                hover:bg-itp-teal-light
                p-4;
    }
}

.breadcrumbs {
    a {
        @apply text-itp-teal-bold;
    }
}

nav,
footer {
    a {
        &:hover,
        &:focus {
            @apply underline;
        }
    }
}

nav {
    a {
        @apply inline-block px-8 py-2;
    }
}

.faq-list {
    &__q {
        @apply font-semibold text-xl;
    }
}

:target {
    .faq-list__q,
    > a {
        @apply bg-itp-yellow-bold/30;
    }
}

dialog {
    animation: gentle-scale-in 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &::backdrop {
        animation: fade-in 250ms;
    }
}
